<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="/mdlite/material.indigo-pink.min.css">
    <script src="/mdlite/material.min.js"></script>

	<link rel="stylesheet" href="/css/frame.css">
	<link rel="stylesheet" href="/css/gphotos.css">
    <title>GPhotos Albums from Google Photos</title>
</head>

<body style="background-color: #3F51B5">
		<header class="demo-header mdl-layout__header--fixed-header mdl-color--primary mdl-color-text--white">
			<div class="mdl-layout__header-row">
			          <span class="mdl-layout-title">GPhotos Albums</span>
			          <div class="mdl-layout-spacer"></div>
			          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded" data-upgraded=",MaterialTextfield">

			          </div>
			        </div>
		</header>
	<main class="sample-content login">
	  	 <h3>Login with your google account to view your album info from Google Photos</h3>
	  	 <p>
			 <button class="gp-button raised" id="login">
				Connect to Google Photos
			 </button>
	 	 </p>
    </main>
        <script src="/js/jquery.slim.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#login').on('click', function (e) {
                    // Make the request to the backend to log in.
                    window.location = "/auth/google";
                })
            });
        </script>
</body>

</html>
